<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :first_surname %>
  <%= f.input :second_surname %>
  <%= f.input :address %>
  <%= f.input :telephone %>
  <%= f.input :diseases %>
  <%= f.input :observations %>
  <%= f.input :documents, input_html: { multiple: true, accept: ".pdf, .docx, .doc, .odt" } %>
  <div class="flex flex-wrap justify-end mb-4">
    <% @student.documents.each do |document| %>
      <%= link_to rails_blob_path(document, disposition: "attachment"), { class: "block w-12", title: "#{document.filename}"} do %>
        <%= image_tag(download_link_icon(document.filename)) %>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.button :submit, t("student.addrecord") %>
  </div>
<% end %>
