<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <%= f.input :birthday, start_year: Time.now.year - 18, end_year: Time.now.year %>
  <%= f.input :first_surname %>
  <%= f.input :second_surname %>
  <%= f.input :city %>
  <%= f.input :country, as: :string %>
  <%= f.input :state_or_region %>
  <%= f.input :postal_code %>
  <%= f.input :telephone %>
  <%= f.input :diseases %>
  <%= f.input :observations %>
  <%= f.input :documents, input_html: { multiple: true, accept: ".pdf, .docx, .doc, .odt" } %>
  <div class="flex flex-col w-full">
    <% @student.documents.each do |document| %>
      <div class="flex items-center border-b border-b-gray-200 justify-between py-1">
        <div class="flex items-center">
          <%= image_tag(download_link_icon(document.filename), class: "w-12") %>
          <p class="text-xs text-gray-600">
            <%= document.filename %>
          </p>
        </div>
        <div class="flex items-center">
          <%= link_to rails_blob_path(document, disposition: "attachment"), { class: "block w-12 text-blue-500 text-base", title: "#{document.filename}" } do %>
            <%= icon("fas", "file-download") %>
          <% end %>
          <%= link_to attachment_path(document.id), {method: :delete, class: "block w-12 text-red-500 text-base", title: t("delete")} do %>
            <%= icon("far", "trash-alt") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions mt-2">
    <%= f.button :submit, t("student.addrecord") %>
  </div>
<% end %>
