<div class="shadow-md px-2 mb-3 sm:flex items-stretch border <%= student.deactivated? ?  "border-yellow-300" : "border-gray-100" %>"> 
  <div class="border-b border-gray-100 py-1 sm:w-2/5 sm:border-b-0 sm:px-1 md:flex md:flex-col md:justify-center">
    <p class="text-lg font-semibold tracking-tight"><%= student.full_name %></p>
    <p class="text-sm text-gray-500 capitalize"><%= t("student.yearsold", student_age: student.age) %></p>
  </div>
  <div class="py-1 sm:w-2/5 sm:border-b-0 sm:px-1 md:flex md:flex-col md:justify-center">
    <p class="text-sm text-gray-500"><%= student.address %></p>
    <p class="text-sm text-gray-500 capitalize"><%= student.telephone %></p>
  </div>
  <div class="py-1 sm:w-1/5 sm:px-1">
    <div class="text-right">
      <%= render partial: "icon_button", locals: {
          url: edit_student_path(student),
          style: "btn-sm text-blue-500",
          icon: ["far", "edit"],
        }
      %>
      <% unless current_user.teacher? %>
        <%= render partial: "icon_button", locals: {
            url: deactivate_student_path(student),
            style: "btn-sm #{student.deactivated? ? "text-yellow-500" : "text-green-500"}",
            method: :post,
            icon: ["fas", "user-graduate"],
          }
        %>
        <%= render partial: "icon_button", locals: {
            url: student_path(student),
            style: "btn-sm text-red-500",
            method: :delete,
            icon: ["far", "trash-alt"],
            data: {
              confirm: t("student.student_delete_message"),
            }
          }
        %>
      <% end %>
    </div>
  </div>
</div>
