<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>First surname:</strong>
  <%= @student.first_surname %>
</p>

<p>
  <strong>Second surname:</strong>
  <%= @student.second_surname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @student.telephone %>
</p>

<p>
  <strong>Diseases:</strong>
  <%= @student.diseases %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @student.observations %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
