<%= render partial: "grades/courses/course_breadcrumbs" %>
<h1 class="text-2xl md:text-5xl font-bold tracking-tighter"><%= t('grades.title') %></h1>
<p class="text-gray-400 tracking-widest mb-2"><%= t('grades.subtitle') %></p>
<%= react_component("grades/Grades", {
  course: @course,
  saveURL: grades_path,
}) %>
<div class="w-full flex flex-col items-end sm:flex-row sm:justify-end sm:items-center mt-4">
    <%= render partial: "secondary_button", locals: {
        url: grades_course_terms_path(@course["id"]),
        button_style: "bg-purple-50 hover:bg-purple-100 text-purple-900 btn mb-2 sm:mb-0 sm:mr-2",
        icon: ["fas", "calendar-alt"],
        icon_style: "",
        text: t("course.terms")
      }
    %>
    <%= render partial: "secondary_button", locals: {
        url: grades_course_lessons_path(@course["id"]),
        button_style: "bg-green-50 hover:bg-green-100 text-green-900 btn",
        icon: ["fas", "book"],
        icon_style: "",
        text: t("course.lessons")
      }
    %>
  </div>
