<div class="mt-12">
    <div class="flex">
      <div class="sm:hidden"><p class="text-sm text-gray-500 p-2"><%= t("course.course")%></p></div>
      <div class="hidden sm:block w-1/2 px-1"><p class="text-sm text-gray-500 p-2"><%= t("course.course")%></p></div>
      <div class="hidden sm:block w-1/2 px-1"><p class="text-sm text-gray-500 p-2"><%= t("course.teacher")%></p></div>
    </div>
    <% @courses.each do |c| %>
      <% unless c.discarded_at.nil? %>
        <%= render partial: "discard_courses/course", locals: { course: c } %>
      <% end %>
    <%end %>
</div>
<%= render partial: "table_footer", locals: { elements: @courses } %>
