<h1 class="text-2xl md:text-5xl font-bold tracking-tighter">Lessons</h1>
<p class="text-gray-400 tracking-widest">Here you can manage the lessons of this course</p>
<%= render partial: "grades/lessons/filter_search" %>
<% if @lessons.empty? %>
  <div class="p-4 mt-20 2xl:p-8 w-full flex justify-center items-center">
    <div class="w-full">
      <%= image_tag("desk.svg", class: "w-1/2 max-w-xs mx-auto mb-4 sm:mb-8" ) %>
      <div class="text-center">
        <p class="text-sm mx-auto text-gray-400 mb-2 sm:mb-4 md:text-base">
          There's no lessons!
        </p>
        <%= render partial: "primary_button", locals: {
            url: new_grades_course_lesson_path(@course),
            button_style: "bg-blue-500 hover:bg-blue-900 text-white btn",
            icon: ["fas", "plus"],
            icon_style: "",
            text: "Create lesson"
          }
        %>
      </div>
    </div>
  </div>
<% else %>
  <div class="pt-4 lg:pt-2 lg:p-2 xl:p-4 2xl:p-8 w-full">
    <%= render partial: "grades/lessons/lessons_table" %>
  </div>
  <div class="pt-4 lg:pt-2 lg:p-2 xl:p-4 2xl:p-8 w-full md:text-right">
    <%= render partial: "primary_button", locals: {
        url: new_grades_course_lesson_path(@course),
        button_style: "bg-blue-500 hover:bg-blue-900 text-white btn",
        icon: ["fas", "plus"],
        icon_style: "",
        text: "Create lesson"
      }
    %>
  </div>
<% end %>
