
<div class="wrap flex items-center justify-center min-h-screen">
  <div class="max-w-xs w-full relative">
    <h2 class="text-4xl font-bold text-center mb-20"><%= t("session.login")%></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <% flash.each do |key, value| %>
          <div class="unauthenticated-flash <%= key %>">
            <p class="text-xs p-1"><%= value %></p>
          </div>
        <% end %>
        <%= f.email_field :email, 
                          autofocus: true,
                          autocomplete: "email", 
                          placeholder: t("session.email"), 
                          class: "unauthenticated-input" 
        %>
      </div>
      <div class="mb-4">
        <%= f.password_field :password, 
                             autocomplete: "current-password",
                             placeholder: t("session.password"),
                             class: "unauthenticated-input"
        %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="mb-4 flex items-center">
          <%= f.check_box :remember_me, 
                          class: "inline-block focus:ring-0 focus:ring-offset-0"
          %>
          <%= f.label :remember_me,
                      class: "inline-block ml-1 font-500" 
          %>
        </div>
      <% end %>
      <div class="mb-4">
        <%= f.submit t("session.next"), class: "unauthenticated-submit" %>
      </div>
    <% end %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <div>
        <%= link_to t("session.lostpassword"), 
                    new_password_path(resource_name), 
                    class: "block text-sm text-right hover:text-gray-500 focus:text-gray-500 hover:underline" 
        %>
      </div>
      <div class="text-center text-muted mt-4">
        To find out if a report has been created and verified with Eschooltul you can use the following 
        <%= link_to 'link.', validator_new_path %>
      </div>
    <% end %>
  </div>
</div>
