<%= simple_form_for(@student_eda, url: student_student_edas_path) do |f| %>
  <%= f.input :student_code %>
  <%= f.input :mode_of_study %>
  <%= f.input :mode_of_delivery %>
  <%= f.input :language %>
  <%= f.input :email_address %>
  <%= f.input :certification_date %>
  <%= f.input :course_unit_type %>
  <%= f.input :date %>
  <%= f.input :ECTS_grading_scale_type %>
  <%= f.input :national_framework_qualifications %>
  <%= f.input :percent %>
  <%= f.input :country, as: :string %>
  <%= f.input :year_of_study %>
  <%= f.input :framework_code %>
  <%= f.input :group_identifier %>
  <%= f.input :institution_identifier %>
  <%= f.input :suplement_language %>
  <%= f.input :gender %>
  <%= f.input :source_course_code %>
  <%= f.input :number_of_years %>
  <%= f.input :source_grade %>
  <div class="actions">
    <%= f.button :submit, t("student_eda.add_record") %>
  </div>
<% end %>
