<%= simple_form_for(school, url: school_path) do |f| %>
  <%= f.error_notification %>
  
  <%= School.human_attribute_name("logo") %> <%= render partial: "input_file", locals: {text: t(:load_file), form: f, accept: ".jpg, .png, .jpeg", attribute: :attachment} %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :address %>
  <%= f.input :city %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
