<h1 class="text-5xl font-bold tracking-tighter">My school</h1>
<p class="text-gray-400 tracking-widest">This is your main personal view</p>
<div class="lg:p-2 xl:p-4 2xl:p-8 flex">
  <div class="w-1/2">
    <!-- TODO: Class information -->
    <!-- TODO: current_user.email -> current_user.name -->
    <p class="text-xl">Hello <%= h truncate(current_user.email, :length => 20) %></p>
  </div>
  <div class="w-1/2">
    <p class="text-xl text-center mb-16"><%= Time.now.strftime("Today is %B, %e of %Y") %></p>
    <div class="mb-8">
      <% if @school.logo.attached? %>
        <%= image_tag(@school.logo, class: "mx-auto") %>
      <% else %>
        <%= image_tag("school-logo.png", class: "mx-auto") %>
      <% end %>
    </div>
    <h2 class="text-xl font-bold tracking-tighter mb-6 text-center"><%= @school.name %></h2>
    <p class="text-gray-400"><%= @school.address.nil? ? "Address" : @school.address %></p>
    <p class="text-gray-400"><%= @school.city.nil? ? "City" : @school.city %></p>
    <p class="text-gray-400"><%= @school.email.nil? ? "Contact email" : @school.email %></p>
    
    <% if current_user.director? %>
      <%= link_to "Edit", edit_school_path %>
    <% end %>
    <%= link_to "Settings: Edit Profile", edit_user_registration_path %>
    <br>
    <br>
    <%= link_to("Log Out", destroy_user_session_path, method: :delete) %>
    </div>
</div>
