<h1 class="text-2xl md:text-5xl font-bold tracking-tighter">Management</h1>
<p class="text-gray-400 tracking-widest">Here you can manage your courses</p>
<% if @courses.empty? %>
  <div class="p-4 mt-20 2xl:p-8 w-full flex justify-center items-center">
    <div class="w-full">
      <%= image_tag("desk.svg", class: "w-1/2 max-w-xs mx-auto mb-4 sm:mb-8" ) %>
      <div class="text-center">
        <p class="text-sm mx-auto text-gray-400 mb-2 sm:mb-4 md:text-base">
          There's no courses yet, be the first one on create!
        </p>
        <%= render partial: "primary_button", locals: {
            url: new_course_path,
            button_style: "bg-blue-500 hover:bg-blue-900 text-white btn",
            icon: ["fas", "plus"],
            icon_style: "",
            text: "Create course"
          }
        %>
      </div>
    </div>
  </div>
<% else %>
  <div class="pt-4 lg:pt-2 lg:p-2 xl:p-4 2xl:p-8 w-full">
    <%= render partial: "courses/courses_table" %>
  </div>
  <div class="pt-4 lg:pt-2 lg:p-2 xl:p-4 2xl:p-8 w-full md:text-right">
    <%= render partial: "primary_button", locals: {
        url: new_course_path,
        button_style: "bg-blue-500 hover:bg-blue-900 text-white btn",
        icon: ["fas", "plus"],
        icon_style: "",
        text: "Create course"
      }
    %>
  </div>
<% end %>
<div class="pt-4 lg:pt-2 lg:p-2 xl:p-4 2xl:p-8 w-full mt-8" x-data="{ selectedCourse: '' }">
  <div class="mb-8">
    <select x-on:change=" selectedCourse = $event.target.value " class="select">
      <option value="">Select a class</option>
      <% school_courses.each do |c| %>
        <option value="<%= c.id %>"><%= c.full_name %></option>
      <% end %>
    </select>
  </div>
  <div class="">
  <% school_courses.each do |course| %>
    <template x-if=" selectedCourse === '<%= course.id.to_s %>'">
      <div>
        <%= simple_form_for(course) do |f| %>
          <%= f.collection_check_boxes(:student_ids, Student.all, :id, :full_name) do |student| %>
            <div class="course-student-row shadow-md p-2 mb-3 border border-gray-100">
              <%= student.label(class: "flex items-center") { student.check_box + " " + student.text } %>
            </div>
          <% end %>
          <div class="actions mt-4">
            <%= f.button :submit, class: "btn-xs" %>
          </div>
        <% end %>
      <div>
    </template>
  <% end %>
</div>
</div>
