<div class="shadow-md px-2 mb-3 sm:flex items-stretch border border-gray-100"> 
  <div class="border-b border-gray-100 py-1 sm:w-1/2 sm:border-b-0 sm:px-1 md:flex md:flex-col md:justify-center">
    <p class="text-lg font-semibold tracking-tight"><%= term.name %></p>
  </div>
  <div class="py-1 sm:w-1/2 sm:px-1 md:flex items-center justify-between">
    <p class="text-sm mb-2 md:mb-0 md:ml-2">
      <%= term.lessons.count %>
      <%= icon("fas", "graduation-cap", class: "ml-2 text-blue-500") %>
    </p>
    <div class="text-right">
      <%= render partial: "icon_button", locals: {
          url: edit_grades_course_term_path(@course, term),
          style: "btn-sm text-blue-500",
          icon: ["far", "edit"],
        }
      %>
      <%= render partial: "icon_button", locals: {
          url: grades_course_term_path(@course, term),
          style: "btn-sm text-red-500",
          method: :delete,
          icon: ["far", "trash-alt"],
          data: {
            confirm: t("term.term_delete_message"),
          }
        }
      %>
    </div>
  </div>
</div>
