<%= render "layouts/flash" %>
<div class="wrap py-2 text-right">
  <% if user_signed_in? %>
    <%= render partial: "secondary_button", locals: {
        url: root_path,
        button_style: "bg-blue-500 hover:bg-blue-900 text-white btn",
        icon: ["fas", "sign-in-alt"],
        icon_style: "",
        text: t("account")
      }
    %>
  <% else %>
    <%= render partial: "secondary_button", locals: {
        url: new_user_session_path,
        button_style: "bg-blue-500 hover:bg-blue-900 text-white btn",
        icon: ["fas", "sign-in-alt"],
        icon_style: "",
        text: t("login")
      }
    %>
  <%end %>
</div>
<div class="wrap flex-1 flex flex-col justify-center">
  <div class="md:flex">
    <div class="mb-4 md:mb-0 mr-4">
      <p>
        <%= icon("fas", "info-circle") %>
        <%= t("validator.action.text")%>
      </p>
    </div>
    <div>
      <%= simple_form_for :validator, url: validators_path do |f| %>
        <%= f.input :file, as: :file, input_html: { multiple: false, accept: ".pdf, .docx, .doc, .odt" } %>
        <div class="actions">
          <%= f.button :submit, t("validator.action.validate")%>
        </div>
      <% end %>
    </div>
  </div>
</div>
