<!-- TODO: change email for name in current_user when name available -->
<!-- TODO: change profile url -->
<div class="header-bar relative">
  <div class="lg:hidden text-lg cursor-pointer" @click=" sidebarOpen = !sidebarOpen ">
    <%= icon("fas", "bars") %>
  </div>
  <div class="flex items-center cursor-pointer" @click=" userSettingsOpen = !userSettingsOpen ">
    <div class="w-9 rounded-full bg-yellow-500"> 
      <%= image_tag("user-icon.png") %>
    </div>
    <div class=" ml-2 w-full">
      <p class="text-sm"><%= h truncate(current_user.email, :length => 20) %></p>
      <p class="text-sm text-gray-400 capitalize"><%= current_user.roles.first.name %></p>
    </div>
  </div>
  <div class="absolute top-full right-0 py-2 px-4 rounded bg-white border border-gray-500 triangle-top shadow-md" :class="{ 'hidden' : !userSettingsOpen }">
    <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "block text-sm mb-2") %>
    <%= link_to("Profile", edit_user_registration_path, class: "block text-sm") %>
  </div>
</div>
