<!-- TODO: change urls for Grades & Evalutation -->
<div class="sidebar bg-white" :class="{ 'open' : sidebarOpen }">
  <div class="sidebar-top">
    <div class="flex justify-end text-lg mb-2 lg:hidden cursor-pointer" @click=" sidebarOpen = !sidebarOpen ">
      <%= icon("fas", "times") %>
    </div>
    <%= render "layouts/branding" %>
    <%= render partial: "nav_link", locals: {
        url: root_path,
        icon: ["fas", "chart-line"],
        text: t("layout.myschool")
      }
    %>
    <%= render partial: "nav_link", locals: {
        url: grades_courses_path,
        icon: ["fas", "list-ul"],
        text: t("layout.grades")
      }
    %>
    <%= render partial: "nav_link", locals: {
        url: edit_user_password_path,
        icon: ["fas", "award"],
        text: t("layout.evaluation")
      }
    %>
    <%= render partial: "nav_link", locals: {
        url: students_path,
        icon: ["far", "file"],
        text: t("layout.edrecord")
      }
    %>
    <% if current_user.director? %>
      <%= render partial: "nav_link", locals: {
          url: accounts_path,
          icon: ["far", "address-card"],
          text: t("layout.accounts")
        }
      %>
    <% end %>
    <% if current_user.director? || current_user.administrator? %>
      <%= render partial: "nav_link", locals: {
          url: courses_path,
          icon: ["fas", "cog"],
          text: t("layout.management")
        }
      %>
    <% end %>
  </div>
  <% if current_user.director? %>
    <div class="sidebar-bottom">
      <%= render partial: "nav_link", locals: {
          url: settings_path,
          icon: ["fas", "cog"],
          text: t("layout.settings")
        }
      %>
    </div>
  <% end %>
</div>
